$font-size: 1rem;
$font-body: "Open Sans", sans-serif;
$font-heading: "Poppins", sans-serif;

$spacing: 1.25em;

/* colors */
$pink: hsl(322, 100%, 66%);
$light-pink: hsl(321, 100%, 78%);
$light-red: hsl(0, 100%, 63%);

$dark-cyan: hsl(192, 100%, 9%);
$pale-blue: hsl(207, 100%, 98%);

$light-cyan: #7c8992;

$light-blue: #f6fbff;

$cyan: cyan;

/*================== */

/* animation */
$transition: all ease-in-out 300ms;

/* general style for buttons*/

@mixin cta {
  outline: none;
  font-size: $font-size;
  transition: $transition;
  cursor: pointer;

  &:focus {
    outline: 2px dotted $dark-cyan;
  }
}

/* big pink button*/

@mixin cta-action {
  border: none;
  border-radius: 1.25em;
  padding: $spacing $spacing + 0.8;
  box-shadow: 2px 2px 5px 3px rgba(182, 182, 182, 0.5);
  background-color: $pink;
  color: $pale-blue;
  font-weight: 700;

  &:hover {
    background-color: $light-pink;
  }
}

/*btn form footer */

@mixin cta-form {
  @include cta;
  border: none;
  border-radius: 0.5em;
  padding: $spacing - 0.25 $spacing + 0.5;
  background-color: $pink;
  color: $pale-blue;
  font-weight: 700;

  &:hover {
    background-color: $light-pink;
  }
}

/* images */

@mixin image {
  width: 100%;
  padding: $spacing * 2 0;
}

/* media query */

@mixin xs {
  @media screen and (max-width: 450px) {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
  }
}

/* patterns */

@mixin bg-pattern-top {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: translateY(-100%);
}

@mixin bg-pattern-bottom {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: translateY(100%);
}

/* grid desktop */

@mixin desktop-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: $spacing;
}

@mixin desktop-content-left {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  place-self: center;
  text-align: left;
}
