/* colors */
/*================== */
/* animation */
/* general style for buttons*/
/* big pink button*/
/*btn form footer */
/* images */
/* media query */
/* patterns */
/* grid desktop */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #00252e;
  margin: 0;
}

p {
  color: #00252e;
  line-height: 1.8;
  margin: 0;
  padding: 1.25em 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2.5em;
}

@media screen and (max-width: 450px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

header .cta {
  outline: none;
  font-size: 1rem;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
  cursor: pointer;
  width: 8em;
  padding: 0.75em 0;
  -webkit-box-shadow: 2px 2px 5px 3px #f7d5eb;
          box-shadow: 2px 2px 5px 3px #f7d5eb;
}

header .cta:focus {
  outline: 2px dotted #00252e;
}

header .cta.cta--header {
  color: #ff52bf;
  border: 1px solid #ff52bf;
  border-radius: 1em;
  background-color: #fff;
}

header .cta.cta--header:hover {
  color: #ff8fd8;
  border: 1px solid #ff8fd8;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.hero {
  padding: 3.125em;
}

.hero .hero__content {
  text-align: center;
}

.hero .hero__content .hero__title {
  margin: 0;
}

.hero .hero__content .hero__title.title--large {
  font-size: clamp(1.5rem, 6vw, 2.5rem);
}

.hero .hero__content .hero__text.text--fade {
  color: #7c8992;
}

.hero .hero__content .cta {
  outline: none;
  font-size: 1rem;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
  cursor: pointer;
}

.hero .hero__content .cta:focus {
  outline: 2px dotted #00252e;
}

.hero .hero__content .cta.cta--action {
  border: none;
  border-radius: 1.25em;
  padding: 1.25em 2.05em;
  -webkit-box-shadow: 2px 2px 5px 3px rgba(182, 182, 182, 0.5);
          box-shadow: 2px 2px 5px 3px rgba(182, 182, 182, 0.5);
  background-color: #ff52bf;
  color: #f5faff;
  font-weight: 700;
}

.hero .hero__content .cta.cta--action:hover {
  background-color: #ff8fd8;
}

.hero .hero__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5em 0;
}

.hero .hero__details .hero__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .hero__details .hero__title {
  text-align: center;
}

.hero .hero__details .hero__title.title--large-number {
  font-size: 5rem;
}

.hero .hero__image {
  width: 100%;
  padding: 5em 0;
  padding: 5em 0;
}

main {
  text-align: center;
}

main > section {
  padding: 6.25em 3.75em;
}

main .title--medium {
  font-size: clamp(1rem, 4vw, 1.8rem);
}

main .grow {
  background-color: #f6fbff;
  position: relative;
  margin-top: 112px;
  margin-bottom: 52px;
}

main .grow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  height: 112px;
  background-image: url("../images/bg-section-top-mobile-1.svg");
}

main .grow::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  height: 52px;
  background-image: url("../images/bg-section-bottom-mobile-1.svg");
}

main .grow .grow__image {
  width: 100%;
  padding: 5em 0;
}

main .users {
  background-color: #f6fbff;
  position: relative;
  margin-top: 103px;
  margin-bottom: 101px;
}

main .users::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  height: 103px;
  background-image: url("../images/bg-section-top-mobile-2.svg");
}

main .users::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  height: 101px;
  background-image: url("../images/bg-section-bottom-mobile-2.svg");
}

main .users .users__image {
  width: 100%;
  padding: 5em 0;
}

main .conversations .conversations__image {
  width: 100%;
  padding: 5em 0;
}

main .community .community__title {
  font-size: 2rem;
  padding: 1.25em 0;
}

main .community .cta {
  outline: none;
  font-size: 1rem;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
  cursor: pointer;
}

main .community .cta:focus {
  outline: 2px dotted #00252e;
}

main .community .cta.cta--action {
  border: none;
  border-radius: 1.25em;
  padding: 1.25em 2.05em;
  -webkit-box-shadow: 2px 2px 5px 3px rgba(182, 182, 182, 0.5);
          box-shadow: 2px 2px 5px 3px rgba(182, 182, 182, 0.5);
  background-color: #ff52bf;
  color: #f5faff;
  font-weight: 700;
}

main .community .cta.cta--action:hover {
  background-color: #ff8fd8;
}

footer {
  position: relative;
  background-color: #00252e;
  padding: 3.125em;
  padding-bottom: 0;
  margin-top: 53px;
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  height: 53px;
  background-image: url("../images/bg-footer-top-mobile.svg");
}

footer .footer.footer--top {
  display: block;
}

footer .footer.footer--top .footer__title.title--uppercase {
  text-transform: uppercase;
  font-weight: 600;
  color: #f5faff;
  font-size: 1.5rem;
}

footer .footer.footer--top .text--white {
  color: #f5faff;
  font-weight: 600;
}

footer .footer.footer--top form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer .footer.footer--top form .input__group {
  width: 100%;
}

footer .footer.footer--top .footer__input {
  width: 100%;
  padding: 1.25em;
  border-radius: 0.7em;
  border: none;
  margin: 0.75em 0;
}

footer .footer.footer--top .footer__input.active {
  border: 1px solid #ff4242;
}

footer .footer.footer--top .email-error {
  display: none;
}

footer .footer.footer--top .email-error.active {
  padding: 0.55em 0;
  display: block;
  color: #ff4242;
}

footer .footer.footer--top .cta {
  outline: none;
  font-size: 1rem;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
  cursor: pointer;
}

footer .footer.footer--top .cta:focus {
  outline: 2px dotted #00252e;
}

footer .footer.footer--top .cta.cta--form {
  outline: none;
  font-size: 1rem;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
  cursor: pointer;
  border: none;
  border-radius: 0.5em;
  padding: 1em 1.75em;
  background-color: #ff52bf;
  color: #f5faff;
  font-weight: 700;
}

footer .footer.footer--top .cta.cta--form:focus {
  outline: 2px dotted #00252e;
}

footer .footer.footer--top .cta.cta--form:hover {
  background-color: #ff8fd8;
}

footer .footer.footer--bottom {
  padding-top: 5em;
}

footer .footer.footer--bottom .footer__logo {
  fill: #f5faff;
}

footer .footer.footer--bottom .text--white {
  color: #f5faff;
}

footer .footer.footer--bottom .footer__contact {
  padding: 1.875em 0;
}

footer .footer.footer--bottom .footer__contact .contact__img {
  margin-right: 1.25em;
}

footer .footer.footer--bottom .footer__contact .footer__link {
  text-decoration: none;
}

footer .footer.footer--bottom .footer__contact .footer__link.link--white {
  color: #f5faff;
}

footer .footer.footer--bottom .footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25em;
  padding: 1.875em 0;
}

footer .footer.footer--bottom .footer__icons .fab {
  font-size: 1.8rem;
}

footer .footer.footer--bottom .footer__icons .footer__icon {
  color: #f5faff;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

footer .footer.footer--bottom .footer__icons .footer__icon:hover {
  color: cyan;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

footer .footer.footer--bottom .footer__icons .footer__icon:focus {
  outline: 2px dotted #f5faff;
}

footer .attribution {
  text-align: center;
  color: #f5faff;
  font-size: 0.7rem;
}

footer .attribution a {
  color: #ff4242;
}

@media screen and (min-width: 768px) {
  /* hero */
  .hero__text {
    margin: 0 auto;
    max-width: 50em;
  }
  .hero__content--desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /* main */
  main .grow {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    gap: 1.25em;
    margin-top: 165px;
    margin-bottom: 139px;
  }
  main .grow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    height: 165px;
    background-image: url("../images/bg-section-top-desktop-1.svg");
  }
  main .grow:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    height: 139px;
    background-image: url("../images/bg-section-bottom-desktop-1.svg");
  }
  main .grow .grow__image {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  main .grow .grow__content {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    place-self: center;
    text-align: left;
  }
  .conversations {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    gap: 1.25em;
  }
  .conversations .conversations__image {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .conversations .conversations__content {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    place-self: center;
    text-align: right;
  }
  .users {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    gap: 1.25em;
    margin-top: 156px;
    margin-bottom: 139px;
  }
  .users::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    height: 156px;
    background-image: url("../images/bg-section-top-desktop-2.svg");
  }
  .users:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    height: 139px;
    background-image: url("../images/bg-section-bottom-desktop-2.svg");
  }
  .users .users__image {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .users .users__content {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    place-self: center;
    text-align: left;
  }
  /* footer */
  footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    gap: 1.25em;
    gap: 3.75em;
    margin-top: 158px;
  }
  footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    height: 158px;
    background-image: url("../images/bg-footer-top-desktop.svg");
  }
  footer .footer.footer--top form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.875em;
  }
  footer .footer.footer--top .footer__input {
    margin: 0;
  }
  footer .footer.footer--bottom {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    padding: 0;
  }
  footer .attribution {
    text-align: left;
  }
}
/*# sourceMappingURL=style.css.map */